canvas{
    border-style: solid;
    border-color: pink;
    box-shadow: 5px;
    border-radius: 25px;
}


.imp{
    color:black;
}

.veritasium{
    width:100%;
    font-size: 16px;
}
